{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Organise and manage placemarks </p>
  </div>
    <div class="column">
        <img class="ui image" src="/images/PlaceMark.png">
    </div>
</section>
