<form class="box" action="/category/{{category._id}}/addtrack" method="POST">
  <label>Enter Name Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter analytics" name="analytics">
      </div>
        <div class="field">
            <input class="input" type="text" placeholder="Enter description" name="description">
        </div>
    </div>
  </div>
  <button class="button is-primary">Add Name</button>
</form>
