<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Analytics</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.tracks}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{location}}
      </td>
      <td>
        {{analytics}}
      </td>
      <td>
       {{description}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>